<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body class="h-100 bg-body-tertiary">

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <div class="py-5 bg-body-secondary jumbotron mb-4">
        <div class="container py-1">
          <h1 class="display-5 fw-bold">Ming Chun Wei (Jim)</h1>
          <h4 class="mb-3">Software Developer</h4>
          <div>
            <a class="text-decoration-none" style="color:#0077B5" href="{{ site.author.linkedin }}" target="_blank">
              <i class="fa-brands fa-linkedin fa-2xl" style="color:#0077B5"></i>
            </a>
            <a class="text-decoration-none text-dark" href="{{ site.author.github }}" target="_blank">
              <i class="fa-brands fa-github fa-2xl"></i>
            </a>
            <a class="text-decoration-none text-dark u-email" href="mailto:{{ site.author.email }}">
              <i class="fa-regular fa-envelope fa-2xl"></i>
            </a>
            <a href="/Jim_CS_Resume.pdf" download="Jim_CS_Resume.pdf">
              <button class="btn btn-secondary">Resume
                <i class="fa-solid fa-download"></i>
              </button>
            </a>
          </div>
        </div>
      </div>
      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}

</body>

</html>