---
layout: base
---
<article class="post h-entry container">
  <header class="post-header mt-5">
    <h2 class="post-title ">Project: {{ page.title }} - {{ page.year }}</h2>
    <h5 class="text-muted">Summary: {{ page.short_description }}</h5>
    {%- if page.project_url -%}
    <a href="{{ page.project_url }}" target="_blank">
      <h5>Repository</h5>
    </a>
    {%- endif -%}
  </header>

  <div class="post-content e-content mt-5 mb-2" itemprop="articleBody">
    <h4 class="text-decoration-underline">Technologies</h4>
    <p class="fw-bold">{{ page.technologies }}</p>
    <div class="row mt-5">
      <div class="col-12 col-xl-5">
        <h4 class="text-decoration-underline">Description</h4>
        {{ content }}
      </div>
      <div class="col-1 col-xl-0"></div>
      {%- if page.video -%}
      <div class="col-12 col-xl-5">
        <h4 class="text-decoration-underline">Demo video</h4>
        <div class="d-none d-sm-block">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.video }}"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </iframe>
        </div>
        <div class="d-sm-none">
          <a href="https://www.youtube.com/watch/{{ page.video }}" target="_blank">View Video</a>
        </div>

      </div>
      {%- endif -%}
    </div>
  </div>
</article>