---
layout: base
---
{% assign posts = site.posts %}
<div class="projects pb-5">
  {%- include jumbo.html -%}
  <div class="container">
    <h2 class="mb-4">Projects</h2>
    {%- if posts.size > 0 -%}
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {%- for post in posts -%}
      <div class="col">
        <a class="text-decoration-none" href="{{ post.url | relative_url }}">
          <div class="card border-dark border-opacity-10 rounded-0">
            <div class="card-body">
              <h3 class="card-title mb-0">{{ post.title }}</h3>
              <p class="mb-0 fw-bold">({{ post.technologies }})</p>
              <h6 class="text-muted">{{ post.year }}</h6>
              <h6 class="text-secondary mt-3">{{ post.short_description }}</h6>
            </div>
          </div>
        </a>
      </div>
      {%- endfor -%}
    </div>
    {%- endif %}
  </div>
</div>